/* General */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* Hero section */
header {
  background-image: url("images/gaby-dyson-unsplash.png");
  filter: contrast(90%);
  width: 100%;
  height: 40vh;
  background-size: cover;
}

.header-title {
  margin: 0;
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  font-size: 3.5rem;
  color: #fff;
  z-index: 2;
}

/* Menu section */
main {
  max-width: 560px;
  width: 90vw;
  margin: 0 auto;
}

.menu-section {
  padding-top: 1.5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
}

.menu-details {
  display: flex;
}

.emoji {
  margin: 0;
  font-size: 5rem;
  padding-right: 0.4em;
}

.name {
  font-size: 1.2rem;
}

.price {
  font-weight: bold;
}

.add-btn {
  height: 1.8em;
  width: 1.8em;
  font-size: 1.5rem;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #fbcbd3;
  border: none;
}

/* Cart section */
.cart {
  padding-top: 1em;
  text-align: center;
  font-weight: bold;
}

.total-price {
  border-top: 2px solid #ccc;
  padding-bottom: 1.2em;
}
.total-price,
.all-items {
  display: flex;
  justify-content: space-between;
}

.complete-order-btn {
  width: 100%;
  padding: 0.8em 0;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #fbcbd3;
  cursor: pointer;
}

.complete-order-btn:hover {
  background-color: #57a953;
  color: #fff;
}

/* Utility classes */
.hidden {
  display: none;
}

/* Media queries */
@media (min-width: 768px) {
  .header-title {
    font-size: 5rem; /* Adjust font size for smaller screens */
    top: 5vh;
  }
}
